java*

.gradle
.direnv
.kotlin
.next
.venv
.nuxt
.vercel
.railway
.astro

# Ignore Gradle build output directory
build

*env*
!.envrc
!.env.vars
!.env.example

*mcp*
!.mcp.example
node_modules


ledgers/coderabbit/
dist
target

*.lock
!**/Cargo.lock
!uv.lock
!bun.lock
!flake.lock
!**/mix.lock

deps
_build
