java*

.gradle
.direnv
.kotlin
.next
.venv
.nuxt
.vercel
.railway
.astro

# Ignore Gradle build output directory
build

.env
.env.*
!.envrc
!.env.vars
.mcp.json
node_modules
ledgers/coderabbit/
dist
target
*.lock
!bun.lock
!flake.lock
!**/mix.lock

deps
_build
